.sidebar {
  float: left;
  position: absolute;
  width: 25%;
  height: 100%;
  font-family: "Century Gothic";
  background-color: rgb(91, 62, 126);
  color: white;
  padding-top: 10px;
  padding-left: 20px;
  vertical-align: bottom;
  font-size: 30px;
  align: 30px;
}
.sidebarTitle {
  font-size: 70px;
  font-family: "Elephant";
  padding-bottom: 15px;
  padding-top: 85%;
}
.sidebarLinks {
  padding-top: 5px;
  padding-left: 5px;
  position: absolute;
  font-size: 20px;
}
.links {
  color: white;
  padding-left: 30px;
}
.labels {
  font-weight: bold;
  float: center;
}
.content {
  color: rgb(91, 62, 126);
  float: right;
  height: 100%;
  padding-left: 30%;
  padding-right: 10%;
  font-size: 15px;
  position: fixed;
  z-index: -1;
  overflow: auto;
}
