html,
body {
  margin: 0;
  padding: 0;
}

/*all links*/
a:link {
  color: white;
}
a:hover {
  color: black;
  text-decoration: none;
}
a:visited {
  color: white;
}

/*sidebar*/
.sidebar {
  float: left;
  bottom:0;
  position:fixed;
  width: 25%;
  height: 100%;
  font-family: "Century Gothic";
  background-color: rgb(91, 62, 126);
  color: white;
  padding-left: 30px;
  padding-right: 20px;
  font-size: 30px;
}
.sidebar .title {
  font-size: 70px;
  font-family: "Elephant";
  bottom:0;
  position:absolute;
  padding-bottom: 260px;
}
.sidebar .description {
  bottom:0;
  position:absolute;
  padding-bottom: 225px;
  font-size: 27px;
}
.sidebar .pages {
  color: white;
  bottom:0;
  position:absolute;
  padding-top: 30px;
  padding-bottom: 35px;
  font-size: 20px;
  padding-left: 10px;
}
.mobile-toggle {
  position:absolute;
  top: 15px;
  right: 0px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 4px;
}
.mobile-toggle span.icon-bar {
  background-color: #fff;
  display: block;
  width: 22px;
  height: 2px;
  margin-bottom:4px;
  border-radius: 1px;
  box-sizing: border-box;
}
.toggle-links {
  display:none;
}
.toggle-links.open {
  display:block;
}

/*content*/
.labels {
  font-weight: bold;
}
.content {
  color: rgb(91, 62, 126);
  float: left;
  padding-left: 27%;
  height: 100%;
  padding-right: 20px;
  padding-bottom: 10px;
  font-size: 15px;
}

/*media queries*/
@media (max-width: 1200px) {
  .sidebar {
    float: top;
    width: 100%;
    height: 8%;
    position:relative;
    bottom:auto;
  }
  .sidebar .title {
    font-size: 40px;
    padding-top: 15px;
    padding-bottom: 0px;
    position: relative;
    bottom:auto;
  }
  .sidebar .description {
    font-size: 25px;
    padding-top: 0px;
    padding-bottom: 10px;
    position: relative;
    bottom:auto;
  }
  .sidebar .pages {
    padding-bottom: 15px;
    padding-top: 0px;
    bottom:auto;
    position:relative;
  }
  .toggle-links.open {
    display:block;
    height:20%;
  }
  .content{
    float:left;
    padding-left: 30px;
    position:relative;
  }

}

@media (min-width: 1200px) {
  .sidebar .title {
    padding-bottom: 305px;
  }
  .sidebar .description {
    padding-bottom: 200px;
  }
  .mobile-toggle {
    display: none;
  }
  .toggle-links {
    display:block;
  }
}

@media (min-width: 1334px) {
  .sidebar .title {
    padding-bottom: 280px;
  }

  .mobile-toggle {
    display: none;
  }
  .toggle-links {
    display:block;
  }

}

@media (min-width: 1700px) {
  .sidebar {
    width: 425px;
  }
  .mobile-toggle {
    display: none;
  }
  .toggle-links {
    display:block;
  }
  .content {
    padding-left: 459px;
  }
}
