<div class="sidebar">
  <div class="title">
    Amy Eddins
  </div>
  <button class="mobile-toggle" ng-click="toggle()">
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div ng-class="open ? 'toggle-links.open' : 'toggle-links'">
    <div class="description"> developer in birmingham, alabama. </div>
    <div class="pages">
      <div ng-repeat="action in actions">
          <a class="drawer-close" id="{{action.name}}button" href="{{action.link}}">
            {{action.name}}
          </a>
      </div>
    </div>
  </div>
</div>
